#section-2 .slider-container {
  width: 100%;
  margin: 0 auto;
}

#section-2 .slider-container .slides {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-family: ChronicleDisplay-Roman !important;
}

#section-2 .slider-container .slides .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  #section-2 .slider-container .slides .container {
    max-width: 50%;
  }
}

#section-2 .slider-container .slides .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  padding: 0 23px;
  margin-top: 170px;
}

#section-2 .slider-container .slides .container .text .title {
  font-family: ChronicleDisplay-Roman !important;
  font-size: 62px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #section-2 .slider-container .slides .container .text .title {
    font-size: 62px;
    line-height: 1.16;
  }
}

@media only screen and (max-width: 768px) {
  #section-2 .slider-container .slides .container .text .title {
    font-size: 32px;
    line-height: 1.31;
  }
}

#section-2 .slider-container .slides .container .text .description {
  font-family: Avenir !important;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #ffffff;
}

#section-2 .slider-container .slides .container .text .button {
  font-family: Avenir !important;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a19;
  background-color: #ffffff;
  border: none;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
}

#section-2 .slider-container .slides .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  #section-2 .slider-container .slides .arrows {
    padding-top: 35px;
  }
}

#section-2 .slider-container .slides .arrows .prev,
#section-2 .slider-container .slides .arrows .next {
  cursor: pointer;
}

#section-2 .slider-container .slides .arrows .prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 30px;
  color: #ffffff !important;
  z-index: 100;
}

#section-2 .slider-container .slides .arrows .next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  color: #ffffff !important;
  z-index: 100;
}

#section-2 .slider-container .slide-1 {
  background-image: url("https://i.ibb.co/fnCrN7x/homepage-2-section-intro.jpg");
}

#section-2 .slider-container .slide-2 {
  background-image: url("https://wallpaper-gallery.net/images/luxury-homes-wallpaper/luxury-homes-wallpaper-7.jpg");
}
/*# sourceMappingURL=2-section.css.map */