@font-face {
  font-family: ChronicleDisplay-Roman;
  src: url(../fonts/ChronicleDisplayRoman.otf);
}

.wrapper {
  width: 100%;
}

body {
  margin: 0;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer {
  width: 100%;
  background-color: #000;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-container {
  padding: 53px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1134px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-container {
    padding: 100px 185px;
  }
}

@media (min-width: 869px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1 {
  width: 288px;
  max-width: 100%;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1 {
    width: 382px;
    max-width: 100%;
  }
}

@media (max-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1 {
    margin-left: auto;
    margin-right: auto;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-logo {
  height: 51px;
  margin-bottom: 26px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-logo {
    margin-bottom: 0px;
    margin-top: -90px;
    height: auto;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-logo:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  cursor: pointer;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 51px;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-text {
    font-family: Avenir;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 59px;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar {
  display: none;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar {
    display: block;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-right: 28px;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-link {
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-link:hover {
  color: #cccccc;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-link:last-child {
  margin-right: 0;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-logo {
  height: 15px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col1-socialbar-logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2 {
  width: 288px;
  max-width: 100%;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2 {
    width: 382px;
    max-width: 100%;
  }
}

@media (max-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2 {
    margin-left: auto;
    margin-right: auto;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-title {
  font-family: ChronicleDisplay-Roman;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 26px;
}

@media (min-width: 869px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-title {
    font-family: Avenir;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 44px;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 15px;
}

@media (min-width: 869px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-text {
    font-family: Avenir;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 30px;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-input-text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  height: 41.5px;
  width: 100%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 26px;
}

@media (min-width: 869px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-input-text {
    margin-bottom: 44.5px;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-input-submit {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 12px 32px;
  background-color: transparent;
  border: 0;
  border: 1px solid #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-input-submit:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-input-submit {
    margin-bottom: 51px;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar {
  display: block;
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar {
    display: none;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar-text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 16px;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar-link {
  padding-right: 40px;
  text-decoration: none;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar-link:last-child {
  padding-right: 0;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar-logo {
  height: 15px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-col2-socialbar-logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 53px;
  display: none;
}

@media (min-width: 1134px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row {
    padding-right: 185px;
    padding-bottom: 47px;
  }
}

@media (min-width: 866px) {
  #nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row {
    display: block;
  }
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row-link {
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding-right: 27px;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row-link:last-child {
  padding-right: 0px;
}

#nc0175yxr32h6c19cd8xb7dtcng3hew8df3txgncndjjhgfb73nc .footer-row-link:hover {
  color: #d1d1d1;
}
/*# sourceMappingURL=style.css.map */