html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  transition: top 0.2s ease-in-out;
}

section,
footer {
  position: relative;
  /* overflow-x: hidden; */
  z-index: 1;
}

body > div.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 999;
  display: none;
}

body > div.sidemenu.visible {
  display: block;
}

body > .modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 1000;
  display: none;
}

body > .modal.visible {
  display: block;
}

body > .modal .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

body > .modal .lightbox-video {
  position: absolute;
  left: 26.5vw;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 640px;
}

body > .modal > .close {
  display: block;
  position: absolute;
  right: 8vw;
  top: 8vh;
  width: 3.2em;
  cursor: pointer;
  color: white;
  font-size: 75%;
  border: none;
  background: none;
}

body > .modal > .close img {
  width: 100%;
  height: 100%;
}

.animate-hover-left-right {
  position: relative;
}

.animate-hover-left-right:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  bottom: 0;
  right: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease-out 0s, left 0.3s ease-out 0s;
  width: 0;
}

.animate-hover-left-right:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

figure.image-style-side {
  width: 50%;
  float: right;
}

figure.image-style.side > img {
  max-width: 100%;
}

figure.image > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

figure.table > table {
  width: 100%;
}

:root {
  --gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/*typography inject*/
@import url("https://fonts.googleapis.com/css?family=Arapey");

@font-face {
  font-family: Montserrat;
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-bold-webfont.eot);
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-bold-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-bold-webfont.woff) format("woff"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-bold-webfont.ttf) format("truetype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-bold-webfont.svg#montserratbold)
      format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-light-webfont.eot);
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-light-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-light-webfont.woff) format("woff"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-light-webfont.ttf) format("truetype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-light-webfont.svg#montserratlight)
      format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-regular-webfont.eot);
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-regular-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-regular-webfont.woff) format("woff"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-regular-webfont.ttf) format("truetype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-regular-webfont.svg#montserratregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-semibold-webfont.eot);
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-semibold-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-semibold-webfont.woff) format("woff"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-semibold-webfont.ttf) format("truetype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-semibold-webfont.svg#montserratsemi_bold)
      format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-ultralight-webfont.eot);
  src: url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-ultralight-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-ultralight-webfont.woff) format("woff"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-ultralight-webfont.ttf) format("truetype"),
    url(https://d1e1jt2fj4r8r.cloudfront.net/uploads/montserrat/montserrat-ultralight-webfont.svg#montserratultra_light)
      format("svg");
  font-weight: 100;
  font-style: normal;
}

@media (max-width: 1500px) {
  h3 {
    font-size: 29px;
  }
}

body,
html {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
  color: #484b4e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em,
p {
  font-family: Arapey, Georgia, Times New Roman, Times, serif !important;
  font-style: italic;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  font: 93.75%/1.666 "Arapey";
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Arapey";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.93318rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.55185rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 0.80274rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  color: inherit;
  font-family: "Montserrat";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 0.71922rem;
  line-height: 1.1;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

ul {
  margin-left: 1.666rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.666rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  font-size: 0.85rem;
  line-height: 1.666rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
  font-size: 1rem;
  line-height: 1.666rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

blockquote {
  margin-left: 1.666rem;
  margin-right: 1.666rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.666rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.666rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.666rem;
  margin-bottom: calc(1.666rem / 2);
  margin-top: calc(1.666rem / 2);
}

li > ul {
  margin-left: 1.666rem;
  margin-bottom: calc(1.666rem / 2);
  margin-top: calc(1.666rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.666rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.666rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.666rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.666rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 1.11067rem;
  padding-right: 1.11067rem;
  padding-top: 0.833rem;
  padding-bottom: calc(0.833rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  overflow-y: visible;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700");
@import url("https://fonts.googleapis.com/css?family=Arapey:300,300i,400,400i,500,500i,700");

body {
  font-family: Arapey, sans-serif;
  padding: 0;
  background-color: #fff;
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 29px;
}

h3,
h4,
h5,
h6 {
  font-size: 24px;
}
