@font-face {
  font-family: ChronicleDisplay-Roman;
  src: url(../fonts/ChronicleDisplayRoman.otf);
}

.wrapper {
  width: 100%;
}

body {
  margin: 0;
}

@media (min-width: 576px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed {
    padding-bottom: 49px;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-header {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 58px;
  margin-bottom: 66px;
}

@media (min-width: 576px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-header {
    margin-top: 71px;
    margin-bottom: 76px;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-title {
  font-family: ChronicleDisplay-Roman;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a19;
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-description {
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a19;
  width: 479px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-description {
    font-size: 15px;
    line-height: 1.67;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-container {
  width: 1440px;
  max-width: 100%;
  height: 149px;
  padding: 0px 0px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-container {
    height: 233px;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post {
  height: 100%;
  width: 161px;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
  background-color: transparent;
}

@media (min-width: 576px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post {
    width: 252px;
  }
}

@media (min-width: 992px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:hover {
    -webkit-transform: scale(1.1, 1.1) translateY(-11px);
            transform: scale(1.1, 1.1) translateY(-11px);
    z-index: 4;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:nth-child(3) {
  display: none;
}

@media (min-width: 756px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:nth-child(3) {
    display: block;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:nth-child(4) {
  display: none;
}

@media (min-width: 1006px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:nth-child(4) {
    display: block;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:last-child {
  display: none;
}

@media (min-width: 1260px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:last-child {
    display: block;
  }
}

@media (max-width: 992px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:focus {
    -webkit-transform: scale(1.1, 1.1) translateY(-7px);
            transform: scale(1.1, 1.1) translateY(-7px);
    z-index: 4;
  }
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:focus .igFeed-link::before {
    content: '';
    background-color: #000;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    opacity: .6;
    z-index: 3;
  }
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-post:focus .igFeed-like {
    opacity: 1;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-link {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-link:hover .igFeed-like {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-link:hover::before {
    content: '';
    background-color: #000;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    opacity: .6;
    z-index: 3;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-like {
  text-align: center;
  position: relative;
  top: -70%;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 992px) {
  #g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-like {
    top: -60%;
  }
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-heart {
  font-size: 20px;
  color: #ffffff;
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-likes {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

#g976405ynmwd93ueg46vn8yreuy4n8ruhnfe3ug87hfe3uni .igFeed-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */